@charset "utf-8";

*{margin: 0;padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{font-family: 'NanumSquareRound';}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{overflow: hidden;}

.nav{
    position: absolute;
    width: 100%;
    height: 60px;
}
.nav .logo{
    width: 100px;
    height: 60px;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    right: 50%;
    z-index: 10;
    transform: translate(-50%,-20%);
}
.nav .logo img{
    width: 70px;
    height: auto;
    cursor: pointer;
}
.nav .hamburger{
    line-height: 60px;
    width: 60px;
    height: 100%;
    text-align: center;
    margin-left: 240px;
}
.nav .hamburger a{
    position: fixed;
    display: inline-block;
    font-size: 16px;
    z-index: 11;
    transition: 0.5s;
    color:#d7e6e8;
    letter-spacing: -3px;
    -webkit-text-stroke: 1.5px #000;    
}
.nav .hamburger a.on{
    transform: rotate(-35deg);
    color: rgb(246, 241, 148);
    letter-spacing: 2px;
}

.side{
    position: fixed;
    width: 270px;
    height: 300px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(51,51,51,0.8);
    transition: 0.5s;
    left: -300px;
    z-index: 10;
}
.side.on{
    left: 0px;

}
.side ul{
    width: 100%;
    height: 30px;
    padding-top: 50px;
}
.side ul li{
    width: 100%;
    text-align: center;
    height: 30px;
}
.side ul li a{
    font-size: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.side ul li:hover a{
    background-color: #d7e6e8;
}

.side ul li:hover a::before{
    color: #333;
}
.side ul li a::before{
    font-size: 16px;
    color: #fff;
}
.side ul li:nth-child(1) a::before{content:"Home"}
.side ul li:nth-child(2) a::before{content:"About"}
.side ul li:nth-child(3) a::before{content:"Work #1"}
.side ul li:nth-child(4) a::before{content:"Work #2"}
.side ul li:nth-child(5) a::before{content:"Design"}
.side ul li:nth-child(6) a::before{content:"Process"}
.side ul li:nth-child(7) a::before{content:"Contact"}
.side ul li:first-child:hover a::before{content: " 홈";}
.side ul li:nth-child(2):hover a::before{content: "프로필";}
.side ul li:nth-child(3):hover a::before{content: "퍼블리싱1";}
.side ul li:nth-child(4):hover a::before{content: "퍼블리싱2";}
.side ul li:nth-child(5):hover a::before{content: "디자인";}
.side ul li:nth-child(6):hover a::before{content: "작업과정";}
.side ul li:nth-child(7):hover a::before{content: "연락처"}



/* 사이드 메뉴 네비 ->반응형*/

/* HOME */
.home{
    width: 100%;
    height: 969px;
    background-color: #333;
}
.home .home-wrap{
    width: 1240px;
    height: 870px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
}
.home .home-wrap > p{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    bottom: 60px;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%) rotate(90deg);
    animation: home-scroll 2s infinite linear 4s;
}

@keyframes home-scroll {
    0%{transform: translate(-50%,0) rotate(90deg);}    
    25%{transform: translate(-50%,-10px) rotate(90deg);}
    50%{transform: translate(-50%,-20px) rotate(90deg);}
    75%{transform: translate(-50%,-10px) rotate(90deg);}
    100%{transform: translate(-50%,0px) rotate(90deg);}
}

.home .door{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    right: 50%;
    left: 50%;
    transform: translate(18.5%,0%);
}
.home .door .left{
    float: left;
}
.home .left .box{
    width:1px;
    height: 500px;
    border-left: 50px solid #fff;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    float: left;
    padding-left: 20px;
}
.home .left .box:nth-child(2){
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.home .left .box:nth-child(3){
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
}
.home .door .center{
    opacity: 0;
    transition: 0.8s;
}

.home .center .shadow{
    width:50px;
    height: 500px;
    float: left;
    background-color: rgb(65,64,75);
    box-shadow: -10px 5px 40px 40px rgb(65,64,75);
}
.home .center .whitedoor{
    float: left;
    width: 264px;
    height: 500px;
    background-color: #fff;
}
.home .center .whitedoor .blackdoor{
    float: left;
    left: 65px;
    position: relative;
    width: 1px;
    height: 500px;
    border-right: 200px solid #000;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    animation: blackdoor 6s linear infinite ;
    animation-fill-mode:both;
    transform-origin: right;
    animation-direction:alternate;
}
@keyframes blackdoor {
    0%{transform:  rotateY(0deg);}
    30%{transform: rotateY(40deg);}
    50%{transform: rotateY(80deg);}
    75%{transform: rotateY(40deg)}
    100%{transform: rotateY(0deg);}
}

.home .center .down{
    width: 0px;
    height: 0px;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: 560px;
    left: 375px;
}
.home .door .right{
    float: left;
}

.home .right .box{
    width:1px;
    height: 500px;
    border-right: 50px solid #fff;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    float: left;
    padding-right: 20px;
}
.home .right .box:nth-child(2){
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.home .right .box:nth-child(3){
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

/* 왼쪽 문 - 가운데로 모이는 애니메이션 */
.home .door > .left{
    position: relative;
    animation-name: left_move, fadeOut;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes left_move {
from { left: 0; }
to   { left: 170px; }
}
@keyframes fadeOut {
from { opacity: 1; }
to   { opacity: 0; }
}


/* 오른쪽 문 */
.home .door > .right{
    position: relative;
    animation-name: right_move, fadeOut;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes right_move {
from { right: 0; }
to   { right: 170px; }
}


/* 인디케이터 */
.indicator{
    position: fixed;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    display: none;
}
.indicator ul li{
    margin: 20px 0;
    font-size: 18px;
}
.indicator ul li a{
    color:black;
    font-size: 14px;
    font-weight: bold;
}
.indicator ul li.on a{
    font-weight: bold;
    color: orangered;
}


/* 프로필 */
.about{
    width: 100%;
    height: 969px;
}
.about .about-wrap{
    width: 1240px;
    height: 809px;
    background-color: #f1f2f3;
    border-radius: 50px;
    margin: 0 auto;
}
.about h1{
    font-size: 50px;    
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.about .left{
    width: 620px;
    height: 809px;
    float: left;
    border-right: 1px solid #000;
}
.about .left .me{
    text-align: center;
    transition: 0.3s;
    transform: translate(0%,400%);
}
.about .left .me > span{
    font-weight: bold;
}
.about .left img{
    width:300px;
    height: auto;
    border: 1px solid #000;
    position: relative;
    top: 25%;
    border-radius: 50%;
    right: -28%;
    float: left;
}
.about .right{
    float: left;
    width: 620px;
    height: 809px;
}
.about h3{
    padding-top: 30px;
    margin-left: 20px;
}
.about .right ul{
    margin-left: 40px;
}
.about .right ul li{
    font-size: 14px;
}

.about .right .profile > p{
    font-size: 18px;
    font-weight: bold;
    display: inline;
    position: relative;
    right: -80px;
    top: 30px;
}
.about .right .keyword{
    position: relative;
    left: 200px;
    margin-left: 0;
    background-color: aliceblue;
    width: 320px;
    height: 35px;
    line-height: 25px;
    position: relative;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid #d7e6e8;
}
.about .right .keyword li{
    height: 20px;
    float: left;
    position: absolute;
    top: 4px;
    padding: 0px 30px;
    transition: all 0.8s;
}
.about .right .keyword li p{
    font-weight: bold;
    font-size: 16px;
}
.about .right .introduce{
    margin-top: 20px;
}
.about .right .about ul li{
    margin-top: 5px;
    letter-spacing: -0.6px;
}
.about .right .experiences ul li:nth-child(2){
    position: relative;
    left: 150px;
}
.about .right .experiences ul li span{
    margin-left: 20px;
}
.about .right .skills ul{
    width: 100px;
    height: 200px;
    background-color: #fff;
}
.about .right .skills ul li{
    padding: 10px;
    width: 100%;
    height: calc(100%/5);
}
.about .right .skills ul li p{
    float: left;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}
.about .right .skills .progress{
    width: 300px;
    height: 20px;
    background-color: #fff;
    float: left;
}


/* work */
.work{
    width: 100%;
    height:969px;
    background-color:#f6f6f6eb;
}
.work .work-wrap{
    width: 1040px;
    height: 969px;
    margin: 0 auto;
    float: right;
    margin-right: 170px;
    background-color: #eee;
}

.work h1{
    position: relative;
    font-size: 40px;
    text-align: center;
    top: 350px;
    left: -400px;
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
}
.work .content{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 200px;
} 
.work .content .info{
    float: left;
    width: 30%;
    height: 200px;
    text-align: center;
    line-height: 30px;
    margin-right: 50px;
    margin-top: 40px;
}

.work .content .imac{
    float: left;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.work .item1 .imac{
    margin-left: 50px;
}

.work h1.on{
    position: fixed;
}

.work .content .info button{
    margin-top: 10px;
    background-color: #39c0f5;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    text-align: center;
    padding: 0 5px;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: bold;
    cursor: pointer;
}
.work .content:nth-child(2) .info button{
    color: #fff;
}
.work .content:nth-child(3) .info button{
    background-color: #edeaab;
}

.work .item2 .info{
    float: left;
    width: 30%;
    height: 200px;
    text-align: center;
    line-height: 30px;
    margin-left: 100px;
    margin-top: 40px;
}

.work .item2 .imac{
    float: left;
    width: 400px;
    height: 400px;
    margin-left: -50px;
}

.work .content h3{
    color: #d7e6e8;
    font-size: 50px;
    margin-bottom: 20px;
}

/* 
.work .right ul li .content span{
    color: #333;
    font-size: 20px;
    font-weight: bold;
}
.work .right ul li .content span::after{
    content: "hover ↓";
    font-size: 12px;
    color: orangered;
    font-weight: bold;
    display: block;
    margin-left:380px;
    animation: hover 1.5s infinite linear;
} */

@keyframes hover {
0%{transform: translate(-50%,0);}    
25%{transform: translate(-50%,-5px);}
50%{transform: translate(-50%,-10px);}
75%{transform: translate(-50%,-5px);}
100%{transform: translate(-50%,0px);}
}
 
.work .content .imac .screen{
    background: #000;
    border-radius: 3% 3% 0 0 / 5% 5% 0 0;
    position: relative;
    width: 100%;
}
  
.work .content .imac .screen:before{
    content: "";
    display: block;
    padding-top: 60%;
}
  
.work .content .imac .line{
    background: linear-gradient(90deg, #A6A6AA, #E1E2E4);
    border-radius: 0 0 3% 3%/ 0 0 33.33% 33.33%;
    position: relative;
    width: 100%;
}
.work .content .imac .line::before {
    content: "";
    display: block;
    padding-top: 9%;
}

.viewport{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 4%;
    background: #333;
}
.leg{
    margin: 0 auto;
    position: relative;
    width: 20%;
}
.leg::before {
    content: "";
    display: block;
    padding-top: 46%;
    background: linear-gradient(#7a7b80, #abacaf 26%, #d0d1d2 57%, #f2f2f2 76%, #e4e4e4 84%, #787878);
}
.foot{
    position: relative;
    width: 20%;
    margin: 0 auto;
    perspective: 180px;
}
.foot::before {
    content: "";
    display: block;
    padding-top: 40%;
    transform: rotateX(65deg);
    transform-origin: center top;
    background: linear-gradient(#7b7b7b, #7f7f7f 39%, #a6a6a6 53%, #ccc 67%, #aaa 86%, #eee 88%, #fff 95%, #a9a9a9 95%, #000);
    border-radius: 0 0 10% 10% / 0 0 30% 30%;
    box-shadow: 0 -10px 5px rgba(255, 255, 255, 0.1) inset, 0 -17px 6px rgba(0, 0, 0, 0.1) inset;
}

.imac .viewport {
    transition: background-position 4s ease;
    background-position: 0 0;
    background-size: 100% auto;
    overflow: hidden;
    cursor: pointer;
}
.imac .screen:hover .viewport{
    background-position: 0 100%;
}
.imac .viewport::after {
    background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

















.work2{
    width: 100%;
    height:969px;
    background-color:#f6f6f6eb;
}
.work2 .work-wrap{
    width: 1040px;
    height: 969px;
    margin: 0 auto;
    float: right;
    margin-right: 170px;
    background-color: #eee;
}

.work2 h1{
    position: relative;
    font-size: 40px;
    text-align: center;
    top: 350px;
    left: -400px;
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
}
.work2 .content{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 200px;
} 
.work2 .content .info{
    float: left;
    width: 30%;
    height: 200px;
    text-align: center;
    line-height: 30px;
    margin-right: 50px;
    margin-top: 40px;
}

.work2 .content .imac{
    float: left;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.work2 .item1 .imac{
    margin-left: 50px;
}

.work2 .content .info button{
    margin-top: 10px;
    background-color: #39c0f5;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    text-align: center;
    padding: 0 5px;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: bold;
    cursor: pointer;
}
.work2 .content:nth-child(2) .info button{
    color: #fff;
}
.work2 .content:nth-child(3) .info button{
    background-color: #edeaab;
}

.work2 .item2 .info{
    float: left;
    width: 30%;
    height: 200px;
    text-align: center;
    line-height: 30px;
    margin-left: 100px;
    margin-top: 40px;
}

.work2 .item2 .imac{
    float: left;
    width: 400px;
    height: 400px;
    margin-left: -50px;
}

.work2 .content h3{
    color: #d7e6e8;
    font-size: 50px;
    margin-bottom: 20px;
}

/* 
.work .right ul li .content span{
    color: #333;
    font-size: 20px;
    font-weight: bold;
}
.work .right ul li .content span::after{
    content: "hover ↓";
    font-size: 12px;
    color: orangered;
    font-weight: bold;
    display: block;
    margin-left:380px;
    animation: hover 1.5s infinite linear;
} */

@keyframes hover {
0%{transform: translate(-50%,0);}    
25%{transform: translate(-50%,-5px);}
50%{transform: translate(-50%,-10px);}
75%{transform: translate(-50%,-5px);}
100%{transform: translate(-50%,0px);}
}
 
.work2 .content .imac .screen{
    background: #000;
    border-radius: 3% 3% 0 0 / 5% 5% 0 0;
    position: relative;
    width: 100%;
}
  
.work2 .content .imac .screen:before{
    content: "";
    display: block;
    padding-top: 60%;
}
  
.work2 .content .imac .line{
    background: linear-gradient(90deg, #A6A6AA, #E1E2E4);
    border-radius: 0 0 3% 3%/ 0 0 33.33% 33.33%;
    position: relative;
    width: 100%;
}
.work2 .content .imac .line::before {
    content: "";
    display: block;
    padding-top: 9%;
}



/*디자인 작업 부분*/
.design{
    width: 100%;
    height: 969px;
    overflow: hidden;
}
.design .design-wrap{
    width: 100%;
    height: 50%;
    background-color: #d7e6e8;
    position: absolute;
    transform: translateY(35%);
}
.design .box{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.design h1{
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
}
.design .box .box-item{
    width: calc(1180px / 4);
    float: left;
    position: relative;
    transform-style: preserve-3d;
    margin-right: 20px;
    font-size: 0;
    transform: translateY(35.5%);
    perspective: 1000px;
}

.design .box .box-item:nth-child(1),
.design .box .box-item:nth-child(2),
.design .box .box-item:nth-child(3),
.design .box .box-item:nth-child(4){
    margin-bottom: 20px;
}

.design .box .box-item:nth-child(4),
.design .box .box-item:nth-child(8){
    margin-right: 0;
}
.design .box .box-item .box-bg{
    width: 295px;
    height: 295px;
    background-color: rgba(228,229,231,0.2);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.design .box .box-item .box-bg:hover{
    background-color: rgba(228,229,231,0.8);
    transition: 0.8s;
}
.design .box .box-item:hover .box-bg{
    animation: open 2s forwards;
    transform-origin: right;
}
@keyframes open {
    0%{transform:  rotateY(0);}
    100%{transform: rotateY(90deg);}
}

.design .box .box-item img{
    width: 295px;
    height: 295px;
}





/* process */
.process-bg{
    width: 100%;
    height: 969px;
    /* background-color: #444a4a; */
    position: absolute;
    z-index: -1;
    /* transform: translateY(50%); */
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 177px, #abced4 79px, #abced4 180px, transparent 81px),
    linear-gradient(rgba(245, 245, 245, 0.565) .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.process{
    width: 100%;
    height: 969px;
}
.process .process-wrap{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}
.process .process-wrap h1{
    padding-top: 60px;
    padding-left: 20px;
    font-size: 50px;
}

.slick-prev{
    left: 10px;
    margin-top: 65px;
    z-index: 2;
}
.slick-next{
    right: 40px;
    margin-top: 65px;
}
.slick-prev::before,
.slick-next::before{
    color:#d7e6e8;
    font-size: 50px;
}
.slick-dots li button:before{
    color: #d7e6e8;
    opacity: 1;
    font-size: 40px;
    top: -40px;
}
.slick-slide img{
    width: 100%;
}
.slick-slide{
    margin: 50px 10px 50px 20px;
}


/* contact */
.contact{
    width: 100%;
    height: 969px;
    background-color: #eee;
}
.contact .contact-wrap{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}
.contact h1{
    text-align: center;
    padding: 60px 0;
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 0.5px #333;    
}
.contact p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.contact p:nth-child(2){
    padding-top: 100px;
}
.contact .circle{
    position: relative;
    z-index: 1;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #333;
    margin-top: 100px;
    animation: mail 3s alternate infinite;
}
@keyframes mail {
   from {transform: translateX(-150%)}
   to{transform: translateX(150%)}
}
.contact .mail a{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
    mix-blend-mode: difference;
    position: relative;
    top: -50px;
    z-index: 2;
    color: #fff;
    margin-bottom: 250px;
}
.contact span{
    display: block;
    text-align: center;
    font-size: 12px;
}





/* 스크롤탑 */
.scrolltop{
    position: fixed; 
    z-index: 99999; 
    right: 100px; 
    bottom: 20px; 
    cursor: pointer; 
    transition: 0.5s; 
    width: 100px;
    height: 70px;
    text-align: center;
    color: #444a4a;
    display: none; 
}
.scrolltop p{
    font-weight: bold;
    font-size: 30px;
}
.scrolltop span{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.8px;
}






@media screen and (max-width: 640px){

    /* 인디케이터 */
    .indicator{
        opacity: 0;
    }
    .nav .logo img{
        width: 50px;
        height: auto;
        margin-left: 30px;
    }
    .nav .hamburger{
        margin-left: 0;
    }
    .nav .hamburger a.on{
        transform: rotate(35deg);
        color: rgb(246, 241, 148);
        letter-spacing: 2px;
    }
    .side{
      width: 100%;
      height: 100%;
      border-radius: 0;
      left: -100%;
    }
    .side.on{
        left: 0px;
    }
    .side ul{
       margin-top: 50px;
    }
    .side ul li{
        width: 100%;
        margin: 50px 0;
    }
    .side ul li a{
        font-weight: bold;
    }
    .side ul li:hover a{
        background-color: #d7e6e8;
    }

    .side ul li:hover a::before{
        color: #333;
    }


    /* home */
    .home .home-wrap{
        width: 100%;
    }
    .home .home-wrap > p{
        font-size: 18px;
        bottom: 80px;
    }
    .home .door{
        position: absolute;
        width: 100%;
        left: 0;
        transform: translate(5%,0);
    }
    .home .left .box{
        border-left: 20px solid #fff;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        padding-left: 10px;
    }
    .home .center .shadow{
        width:10px;
        height: 500px;
        float: left;
        background-color: rgb(65,64,75);
        box-shadow: -10px 5px 40px 40px rgb(65,64,75);
    }
    .home .center .down{
        left: 205px;
    }
    .home .right .box{
        border-right: 20px solid #fff;
        padding-right: 10px;
    }
    @keyframes left_move{
        from{left:0;}
        to{left:140px;}
    }
    @keyframes right_move{
        from{right:0;}
        to{right:140px;}
    }



    /* about 프로필*/
    .about{
        height: 969px;
    }
    .about .about-wrap{
        width:97%;
    }
    .about .left{
        float: none;
        width: 100%;
        height: 269px;
        border-right: 0;
    }
    .about h1{
        margin-bottom: 0px;
        font-size: 30px;
    }
    .about .left .me{
        position: relative;
        top: -100px;
        font-size: 12px;
    }
    .about .left img{
        left: 50%;
        right: 50%;
        transform: translate(-50%,-10%);
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .about .right{
        float: none;
        height: 709px;
    }
    .about .right ul li{
        font-size: 12px;
    }
    .about .right .keyword{
        width: 250px;
    }
    .introduve .right .keyword li{
        padding: 0;
    }
    .about .right .keyword li p{
        font-size: 12px;
    }
    .about .right .profile p{
        font-size: 14px;
    }
    .about .right .keyword{
        margin-bottom: 10px;
    }
    .about .experiences h3{
        margin-bottom: 10px;
    }
    .about .right .experiences ul li span{
        margin-left: 37px;
    }



    /* work */
    .work .work-wrap{
        width: 100%;

    }
    .work .left{
        float: none;
        display: inline;
    }
    .work .left h1{
        position: relative;
        left: 25%;
        top: 10px;
        font-size: 30px;
    }
    .work .left h1.on{
        font-size: 30px;
        position: relative;
    }
    .work .right{
        float: none;
    }
    .work .right ul li .content span::after{
        display: none
    }
    
    .work .right ul li:nth-child(1) .info{
        margin-top: -10px;
    }
    .work .right ul li:nth-child(2) .info{
        position: relative;
        left: 170px;
        top: -50px;
    }
    .work2 .right ul li:nth-child(1) .info{
        margin-top: -40px;
    }
    .work2 .right ul li:nth-child(2) .info{
        position: relative;
        margin-top: 20px;
    }



    /* 디자인 */
    .design{
        overflow: visible;
    }
    .design .box{
        width: 100%;
        height: 100%;
    }

    .design .box .box-item{
        width: calc(100%/4);
    }

   

    /* 프로세스 */
    .slick-prev::before,
    .slick-next::before{
      position: relative;
      top: -80px;
    }

    /* 컨텍트 */
    .contact .contact-wrap{
        width: 100%;
    }


    /* top 상단으로 */
    .scrolltop{
        right: 12px;
    }
    .scrolltop p{
        font-size: 18px;
    }
    .scrolltop span{
        font-size: 12px;
        top: -5px;
        position: relative;
    }



}